output = D:\workspace\workLifeBalance\src\main\resources\de\stevenschwenke\java\javafx\workLifeBalance.graphml
classpath = D:\workspace\workLifeBalance\target\classes

exclude = com.**
exclude = org.**
exclude = java.**
exclude = javafx.**
exclude = jfxtras.**

level3 = {
   *.*.*.*.*.*.*.(*)**
}

level2 = {
   *.*.*.*.*.*.(*)**
}

level1 = {
   *.*.*.*.*.(*)**
}
