output = D:\workspace\workLifeBalance\src\main\resources\de\stevenschwenke\java\javafx\workLifeBalance.graphml
classpath = D:\workspace\workLifeBalance\target\classes

exclude = com.**
exclude = org.**
exclude = java.**
exclude = javafx.**

layers = {
   Server de.stevenschwenke.java.javafx.workLifeBalance.server.**
   Client de.stevenschwenke.java.javafx.workLifeBalance.client.**
}

#packagesClient = {
 #  newTimeRecord de.stevenschwenke.java.javafx.workLifeBalance.client.newTimeRecord.**
#}

